################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dynamic-twist-frontend/eSupport/eDriver
/dynamic-twist-frontend/Config
/dynamic-twist-api/bin/Debug
/dynamic-twist-api/.vs/dynamic-twist-api/v17/.suo
/dynamic-twist-api/obj/Debug/net6.0/dynamic-twist-api.csproj.CoreCompileInputs.cache
/dynamic-twist-api/obj/Debug/net6.0/dynamic-twist-api.csproj.FileListAbsolute.txt
/dynamic-twist-api/obj/Debug/net6.0/dynamic-twist-api.dll
/dynamic-twist-api/obj/Debug/net6.0/dynamic-twist-api.genruntimeconfig.cache
/dynamic-twist-api/obj/Debug/net6.0/dynamic-twist-api.MvcApplicationPartsAssemblyInfo.cs
/dynamic-twist-api/obj/Debug/net6.0/dynamic-twist-api.pdb
/dynamic-twist-api/obj/Debug/net6.0/PublishOutputs.0edb854695.txt
/dynamic-twist-api/obj/Debug/net6.0/PublishOutputs.e1810cde50.txt
/dynamic-twist-api/obj/Debug/net6.0/staticwebassets.build.json
/dynamic-twist-api/obj/Debug/net6.0/staticwebassets.development.json
/dynamic-twist-api/obj/Debug/net6.0/staticwebassets.pack.json
/dynamic-twist-api/obj/Debug/net6.0/staticwebassets.publish.json
/dynamic-twist-api/obj/Debug/net6.0/win-x64/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/dynamic-twist-api/obj/Debug/net6.0/win-x64/apphost.exe
/dynamic-twist-api/obj/Debug/net6.0/win-x64/dynamic-twist-api.AssemblyInfo.cs
/dynamic-twist-api/obj/Debug/net6.0/win-x64/dynamic-twist-api.AssemblyInfoInputs.cache
/dynamic-twist-api/obj/Debug/net6.0/win-x64/dynamic-twist-api.assets.cache
/dynamic-twist-api/obj/Debug/net6.0/win-x64/dynamic-twist-api.csproj.AssemblyReference.cache
/dynamic-twist-api/obj/Debug/net6.0/win-x64/dynamic-twist-api.csproj.CopyComplete
/dynamic-twist-api/obj/Debug/net6.0/win-x64/dynamic-twist-api.csproj.CoreCompileInputs.cache
/dynamic-twist-api/obj/Debug/net6.0/win-x64/dynamic-twist-api.csproj.FileListAbsolute.txt
/dynamic-twist-api/obj/Debug/net6.0/win-x64/dynamic-twist-api.dll
/dynamic-twist-api/obj/Debug/net6.0/win-x64/dynamic-twist-api.GeneratedMSBuildEditorConfig.editorconfig
/dynamic-twist-api/obj/Debug/net6.0/win-x64/dynamic-twist-api.genruntimeconfig.cache
/dynamic-twist-api/obj/Debug/net6.0/win-x64/dynamic-twist-api.GlobalUsings.g.cs
/dynamic-twist-api/obj/Debug/net6.0/win-x64/dynamic-twist-api.MvcApplicationPartsAssemblyInfo.cache
/dynamic-twist-api/obj/Debug/net6.0/win-x64/dynamic-twist-api.MvcApplicationPartsAssemblyInfo.cs
/dynamic-twist-api/obj/Debug/net6.0/win-x64/dynamic-twist-api.pdb
/dynamic-twist-api/obj/Debug/net6.0/win-x64/PublishOutputs.0edb854695.txt
/dynamic-twist-api/obj/Debug/net6.0/win-x64/PublishOutputs.54ff4e2c1b.txt
/dynamic-twist-api/obj/Debug/net6.0/win-x64/staticwebassets/msbuild.build.dynamic-twist-api.props
/dynamic-twist-api/obj/Debug/net6.0/win-x64/staticwebassets/msbuild.buildMultiTargeting.dynamic-twist-api.props
/dynamic-twist-api/obj/Debug/net6.0/win-x64/staticwebassets/msbuild.buildTransitive.dynamic-twist-api.props
/dynamic-twist-api/obj/Debug/net6.0/win-x64/staticwebassets/msbuild.dynamic-twist-api.Microsoft.AspNetCore.StaticWebAssets.props
/dynamic-twist-api/obj/Debug/net6.0/win-x64/staticwebassets.build.json
/dynamic-twist-api/obj/Debug/net6.0/win-x64/staticwebassets.development.json
/dynamic-twist-api/obj/Debug/net6.0/win-x64/staticwebassets.pack.json
/dynamic-twist-api/obj/Debug/net6.0/win-x64/staticwebassets.publish.json
/dynamic-twist-api/obj/Debug/net6.0/ref/dynamic-twist-api.dll
/dynamic-twist-api/obj/Debug/net6.0/refint/dynamic-twist-api.dll
/dynamic-twist-api/obj/Debug/net6.0/staticwebassets/msbuild.dynamic-twist-api.Microsoft.AspNetCore.StaticWebAssets.props
/dynamic-twist-api/obj/Debug/net6.0/win-x64/ref/dynamic-twist-api.dll
/dynamic-twist-api/obj/Debug/net6.0/win-x64/refint/dynamic-twist-api.dll
