################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dynamic-twist-frontend/eSupport/eDriver
/dynamic-twist-frontend/Config
